body {
    font-family: 'Source Sans Pro', sans-serif;

}

.container {
    width: 1280px;
    height: 90px;
    padding:16px 32px;
}

a {
    text-decoration: none;
    margin-right: 32px;
    font-size: 18px;
    color: black;
}


.navbar {
    padding: 0;
    /* position: fixed; */
    background-color: white;
    width: 100%;
    box-shadow: 0 0 10px rgb(217, 217, 217);
}

.navbar .btn{
    background-color: black;
    font-weight: 600;
    padding: 16px 32px;
}

.header {
    align-self: center;
    padding: 128px 300px;
}
.header h1 {
    color: black;
    font-size: 72px;
    font-weight: 700;
}

.home-header {
    color: #7F7F7F;
    font-size: 24px;
    font-weight: 400;
}

.link-header {
    font-size: 24px;
    font-weight: 600;
}


.case-container {
    width: 1400px;
    height: 600px;
    background-color: red;
    border-radius: 8px;
    color: white;
}

.case-info-container {
    padding-top: 160px;
    padding-left: 100px;
}

.case-description {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

hr {
    width: 50px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.case-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.case-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600
}

.case-image {
    width: 594px;
}


.track-card{
    height: 400px;
    padding: 48px 97px;
    border: 0;
    box-shadow: 0px 0px 10px rgb(221, 221, 221);
    border-radius: 0;

}


.track-card h2 {
    font-size: 40px;
    line-height: 48px;
}

.track-card p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #a1a3a9;
}

.track-card img {
    max-width: 119px;
}

.services-header {
    padding: 0 400px;
    margin: 100px;
}

.services-header h2{
    font-size: 40px;
    line-height: 48px;
}

.services-header p {
    color: #000;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    width: 510px;
}

.services {
    padding-left: 200px;

}


.service {
    display: block;
    margin-top: 50px;
    margin-right: 24px;
    margin-left: 24px;
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 2px rgb(228, 228, 228);

    
}

.service h3 {
    font-size: 24px;
    font-weight: 400;
}

.service p {
    font-weight: 300;
}

.about {
    width: 1500px;
    height: 100%;
    margin-top: 400px;
    background-color: black;
    display: block;
}

.about .col {
    padding-right: 0;
}

.about-image {
    max-width: 100%;
    height: 100%;
    background-size: cover;
}

.about-container {
    max-width: 50%;
    padding-left: 200px;
    padding-top: 50px;
    color: white;
}

.about-desc {
    padding-right: 90px;
    line-height: 29px;
    font-weight: 300;
}

.about-container h3{
    font-size: 40px;
}

.about-container p {
    font-size: 18px;
}

.client-logo {
    padding-left: 100px;
    padding-right: 100px;
}

.client-logo img {
    max-width: 100%;
}

.contact {
    padding-top: 100px
}

.contact h1 {
    font-weight: 700;
}

.contact p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
}

.contact-field{
    width: 60%;
}

footer {
    color: #fff;
    margin-top: 400px;
    width: 100%;
    height: 361px;
    background-color: black;
}

.footer {
    width: 80%;
    margin-left: 200px;

}

footer .small-link {
    font-size: 14px;
}

.credit {
    font-size: 12px;
    font-weight: 300;
}